.main {
  text-align: center;
  justify-content: top;
  background-color: #f2f1f5;
  display: flex;
  flex-direction: column;
  align-items:center;
  height: 100vh;
 }
.tourmain{
  text-align: center;
  justify-content: top;
  background-color: #f2f1f5;
  display: flex;
  flex-direction: column;
  align-items:center;
}
.tourframe {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.tourimg {
  width: 100%;
  height: 50%;
  padding: 0%;
}
.tourimgshort {
  width: 30%;
  padding: 0%;
}
.tourimglong {
  width: 70%;
  padding: 0%;
}
.vtourimgframe{
  display: flex;
  flex-direction: column;
  padding: 0%;
  /* width: 60%; */
}
.htourimgframe{
  display: flex;
  flex-direction: row;
}
.tourtext{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size:x-large;
  font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  /* width: 60%;   */
}
.tourcardheader {
  background-color: #6070C7;
  /* font-size: 20px; */
  /* width: 30vw; */
  width: 35vw;
  display:block;
  margin: auto;
  margin-top: .5em;
  padding: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 15px;
  font-variant: small-caps;
}
.navbar {
  /* background-color: #333333; */
  /* background-color: #FF2E78; */
  background-color: #e32b6d;
  display: flex;
  /* let's align the items so everything is nice and centered */
  align-items: center;
  width: 100vw;
}
.navbar a {
  color: #f2f1f5;
  /* color: #333333; */
  text-decoration: none;
}
.navbar ul {
  /* Let's reset the margin and padding of the list so it's is flush. */
   margin: 0;
   padding: 0;
   /* Let's remove the bullet points */
   list-style-type: none;
   /* display the list flex and align the items centered */
   display: flex;
   align-items:center;
 }
 .navbar .brand {
  display: block;
  color: #f2f1f5;
  /* color: #c9245f; */
 /* Remove padding from top/bottom and add 24px padding right/left */
  padding: 0 24px;
  font-size: 24px;
}
.navbar ul li a {
  color: #f2f1f5;
  /* color: #333333; */
  padding: 24px;
  /*Let's make the anchor display block.
     This will ensure when we hover, focus, or is active we get the full width and height 
      of the container.
  */
  display: block;
}
/* When a use hovers or focuses to a link change the background */
.navbar ul a:hover,
.navbar ul a:focus {
  /* background-color: #272727; */
  background-color: #FF2E78;
}
 .about {
  text-align: center;
  justify-content: top;
  display: flex;
  flex-direction: column;
  align-items:center;
  height: 100vh;
  font-size: 20px;
 }
 .aboutcardheader {
  background-color: #6070C7;
  /* font-size: 20px; */
  /* width: 30vw; */
  width: 35vw;
  display:block;
  margin: auto;
  margin-top: .5em;
  padding: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 15px;
 }
 .card {
  font-size: 17px;
  min-height: 50vh;
  display: flex;
  width: 50vw;
  display: felx;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px;
 }
 .form {
  height: 20vh;
  /* width: 20vw; */
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  /* margin-right: 1em; */
  /* margin-left: 1em; */
  padding-right: 1em;
  padding-left: 1em;
  /* padding: 1em; */
 }
 .button {
  width: 20vw;
  height: 5vh;
 }
 .radioGroup{
  justify-content: center;
 }
.upper {
  /* height: 10vh; */
  font-size: 20px;
  justify-content: center;
  /* align-items: center; */
  display: flex;
  /* background-color: #FA8072; Salmon */
  /* background-color: #F96153; Better? */
  /* background-color: #C51162; */ /* Probably best^ I'm thinking maybe just lighten these colors */
  /* background-color: #F50057; */
  background-color: #FF2E78;
  overflow:hidden;
  width: 95vw;
  border-radius: 15px;
  /* height: 100vh; */
}
.upperElement{
  margin-right: 5em;
  margin-left: 5em;
}
.potBanner{
  /* background-color: #13c5f1; */
  /* background-color: #53A6F9; */
  /* background-color: #303F9F; */
  /* background-color: #3F51B4; */
  background-color: #6070C7;
  font-size: 20px;
  width: 40vw;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.addressBanner{
  /* background-color: #3F51B4; */
  background-color: #6070C7;
  font-size: 20px;
  width: 70vw;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.lower{
  text-align: center;
  display: flex;
  justify-content: center;
  /* height: 20vh; */
}
input{
  text-align: center;
}
::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;  
}

:-ms-input-placeholder {  
  text-align: center; 
}
